*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
html{
    box-sizing: border-box;
    font-size: 10px;
}
main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
#welcome-page h1{
    font-size: 6rem;
    text-align: center;
    color: black;
}
#welcome-page h2{
    font-size: 3rem;
    text-align: center;
    color: black;
}
.loading{
    margin-top: 25rem;
    position: absolute;
}
.bar{
    display: flex;
    overflow: hidden;
    width: 50rem;
    height: 4vh;
    border: 4px solid #303841;
    border-radius: 10px;
}
.loading h3{
    font-size: 2.5rem;
    margin-bottom: .5rem;
}
.add-bar{
    width: 10%;
    height: 100%;
    background-color: #303841;
    border: 3px solid white;
}
.btn-choice{
    display: flex;
    align-items: center;
    position: absolute;
}
.btn-yes, .btn-no{
    background-color: inherit;
    padding: 5rem;
    font-size: 5rem;
    font-weight: bold;
    border: none;
    transition: all 0.2s;
}
.btn-yes:hover, .btn-no:hover{
    text-shadow: 1px 1px 1px black;
    transform: scale(1.4);
}
.btn-yes:active, .btn-no:active{
    transform: translateY(20%);
}

#guest-name{
    position: absolute;
    outline: none;
    background-color: inherit;
    border: 4px solid #303841;
    border-radius: 10px;
    color: black;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1rem 0;
    text-align: center;
    width: 46rem;
}
#guest-name:focus{
    color: white;
    background-color: #303841;
}
#btn-submit{
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 13rem;
    width: 12rem;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: inherit;
    border: 4px solid #303841;
    transition: transform 0.1s;
}
#btn-submit:hover{
    color: white;
    background-color: #303841;
}
#btn-submit:active{
    transform: scale(0.8);
}



input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.up{
    margin-bottom: 10rem;
}
.blink{
    animation: blink 0.5s infinite;
}
@keyframes blink {
    0% {opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.fa-compact-disc{
    font-size: 5rem;
    position: absolute;
    margin-top: 4rem;
    animation: rotate infinite 1s;
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
.fa-face-smile-beam{
    position: absolute;
    margin-top: 6rem;
    font-size: 5rem;
}
.gg-format-slash{
    width: 1rem;
    height: 12rem;
}
.fade-in-border{
    opacity: 0;
    animation: fade-in 2s forwards ease-in;
}
.fade-in{
    opacity: 0;
    animation: fade-in 1s forwards ease-in;
}
.fade-out{
    opacity: 1;
    animation: fade-out 1s forwards ease-out;
}
@keyframes fade-in {
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    to {
        opacity: 0;
    }
}
@media (max-width:768px) {
    html{
        font-size: 9px;
    }
}
@media (max-width:640px){
    html{
        font-size: 8px;
    }
}
@media (max-width:576px){
    html{
        font-size: 6.5px;
    }
}
